@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8; /* Blanc cassé très élégant */
  color: #1a1a1a; /* Texte presque noir */
  margin: 0;
}

/* Supprime les couleurs par défaut des liens */
a {
  color: inherit;
  text-decoration: none;
}