@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: black;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}